<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href='/stylesheets/normalize.css' type='text/css'>
  <link rel="stylesheet" href='/stylesheets/screen.css' type='text/css'>
</head>
<body>

  <% if @content['message'] %>
  <div class="message"><%= @content['message'] %></div>
  <% end %>

  <% if @content['error'] %>
  <div class="error"><%= @content['error'] %></div>
  <% end %>

  <h2><%= @content['filename'] %></h2>

  <form action="/edit/save" method="post">
    <textarea name="contents"><%= @content['contents'] %></textarea>
    <input type="submit" value="Save">
    <input type="hidden" name="path" value="<%= @content['path'] %>">
  </form>

</body>
</html>