<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href='/stylesheets/normalize.css' type='text/css'>
  <link rel="stylesheet" href='/stylesheets/screen.css' type='text/css'>
</head>
<body id="editor">

  <% if flash %>
  <div class="message"><%= flash %></div>
  <% end %>

  <% if error %>
  <div class="error"><%= error %></div>
  <% end %>

  <h5><a class="return" href="/list/<%= post.encoded_parent %>">Return</a></h5>

  <h2><%= post.basename %></h2>

  <form action="/edit/save" method="post">
    <textarea name="content"><%= post.content %></textarea>
    <input type="submit" value="Save">
    <input type="hidden" name="action" value="update">
    <input type="hidden" name="path" value="<%= post.encoded_path %>">
  </form>

</body>
</html>